<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/styles.css" />
        <title>Golang - Create Your Own Adventure</title>
    </head>
    <body>
        <div id="container">
            <h1>{{.Title}}</h1>
            {{range .Story}}
            <p>{{.}}</p>
            {{end}}
            <hr />
            <ul>
                {{range .Options}}
                <li><a href="/{{.Arc}}">{{.Text}}</a></li>
                {{end}}
            </ul>
            {{if (eq .Title "Home Sweet Home")}}
            <h2>The End!</h2>
            {{end}}
        </div>
    </body>
</html>
